<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="App_URI" value="https://test.smartfun.com.tw/book_tax_relief_api/v1/announcement" />
    <add key="App_Id" value="WZCwae" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>