<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="App_URI" value="https://tax.moc.gov.tw/book-api/v1/announcement" />
    <add key="App_Id" value="B20AOP" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>